@{
    ViewData["Title"] = "Show Page";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<img id="beach"   src="/images/beach.jpeg">    


<a asp-controller="Home" asp-action="Lake">Submit </a>


<p> Code changed for github</p>
